<ion-content class="fondo-contenedor">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div echarts [options]="chartOptions" class="chart"></div>
      </ion-col>
    </ion-row>

    <ion-row class="button-container">
      <ion-col size="6">
        <ion-card class="boton" (click)="productos()">
          <ion-card-title>PRODUCTOS</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="boton" (click)="newEmpleado()">
          <ion-card-title>Agregar empleado</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="boton" (click)="addProdructo()">
          <ion-card-title>Agregar producto</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="boton" (click)="viewEmpleyed()">
          <ion-card-title>Empleados</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
