ion-card{
    background: #ecfccb;
}

.chart{
    margin-left: 19px;
    // width: 1200px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }