// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
.modal2{
    --width: 80%;
    --height: 80%;
    --border-radius: 10px;
  }
  
  .modal3 {
    --background: transparent;
    --box-shadow: none; // Esto elimina la sombra del modal
    --height: 100%;
  }