<body>
  <!-- Fondo con olas animadas -->
  <div class="waves-container">
     <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
  </div>
  <div class="logo-container">
    <img src="/assets/img/logoGN.png" alt="Logo" class="logo" />
  </div>
  <!-- Contenedor del formulario -->
  <div class="form-container">
    <form [formGroup]="sweetForm" (ngSubmit)="submit()" class="form-card">
      <!-- Campo para el correo -->
      <!-- <ion-item> -->
        <ion-col size="12">
        <ion-input 
        formControlName="email"  type="email" fill="outline" labelPlacement="floating" label="Ingrese su usuario" placeholder="Ingrese su usuario" color="dark"></ion-input>
      </ion-col>
        <ion-col size="12">
        <ion-input formControlName="password" type="password" labelPlacement="floating" label="Contraseña"  placeholder="Contraseña"  fill="outline"></ion-input>
      </ion-col>
      <p class="forgot-password">
        ¿Olvidó su contraseña? <a href="#">Ingrese aquí</a>
      </p>
      
      <button class="cta" type="submit" [disabled]="!sweetForm.valid">
        <span>Inicio de sesión</span>
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
          <polyline points="6 12 10 16 18 8"></polyline>
        </svg>
      </button>
    </form>
  </div>
</body>