<ion-content>
  <div class="container">
    <!-- Título con icono -->
    <!-- <h2 class="titulo">
      <ion-icon name="clipboard-outline"></ion-icon> Registro.
    </h2> -->
    <!-- Tarjeta del formulario -->
    <ion-card>
      <ion-card-content>
        <form action="" [formGroup]="newEmployed" (ngSubmit)="enviarForm()">

        <!-- Nombre -->
        <!-- <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item> -->

        <!-- Apellidos -->
        <!-- <ion-item>

          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item> -->

        <!-- Correo -->
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <!-- Confirmar Contraseña -->
        <!-- <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item> -->

        <!-- Opciones Mecero y Cosinero -->
        <!-- <div class="checkbox-container">
          <ion-button class="mecero">Mesero</ion-button>
          <ion-button class="cosinero">Cosinero</ion-button>
        </div> -->

        <!-- Botón Crear Cuenta -->
        <ion-button type="submit" expand="full" color="yellow" class="crear-cuenta">Crear Cuenta.</ion-button>

      </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
